.analytics-page-paper-container {
  width: 96%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
}

.main-analytics-page-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.analytics-page-heading {
  font-family: Montserrat;
  text-align: center;
  font-weight: 600;
  font-size: 6vh;
}
