.common-analytics-container{
    
}

.common-analytics-booking-all-venues{
    width: 100%;
}

.common-analytics-booking-all-venues{
    padding: 2%;
}

.analytics-label{
    font-family: Montserrat;
    font-weight: 600;
}

.doughnut-chart-container{
    display: flex;
    justify-content: center;
    align-items: center!important;
    height: 50%!important;
    width: 50%!important;
    margin-top: 2%;
}

.doughnut-chart{
}