.common-analytics-container{
    
}

.common-analytics-booking-all-venues{
    width: 100%;
}

.common-analytics-booking-all-venues{
    padding: 2%;
}

.analytics-label{
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 4%;
    font-size: 4vh;
    margin-bottom: 1%;
}

.doughnut-chart-container{
    display: flex;
    justify-content: center;
    align-items: center!important;
    height: 50%!important;
    width: 50%!important;
    margin-top: 2%;
    margin-left: 20%;
}

.total-earnings-host{
    margin-top: 2%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: large;
}
.total-earning-label{
    font-weight: 600;
    font-size: 4vh;
}
.doughnut-chart{
}

#earning-value{
    color: #B12704;
    font-size: 5vh;
}