.specific-analytics-container{
    padding: 2%;
}

.specific-analytics-heading{
    font-family: Montserrat;
    font-size: 2vh;
    font-weight: 600;
}

.specific-analytics-venue-list-accordion{
    margin-top: 2%;
}