@import '../../Shared/styles/colors';

.booking-card-base {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10vw;
  min-width: 90% !important;
  min-height: 22% !important;
  background-color: $white;
  margin: 1vw 2vw;
  cursor: pointer;
  box-shadow: 0px 4px 8px #00000029;
  &:hover {
    box-shadow: 0px 4px 16px#00000029;
  }
}
.booking-card-image-container{
  width: 20%;
  height: 90%;
  margin: .5vw;
  background-color: #eaeaea;
  img {
    width: 100%;
    height: 100%;
  }
}
.booking-card-info-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: flex-start;
}
.booking-card-venue-title {
  padding: 1vw;
  font-size: 1.3vw;
  font-weight: 700;
}
.booking-card-venue-address {
  padding: 0 1vw;
  font-size: 1.1vw;
}
.booking-card-booking-date {
  padding: 1vw;
  font-size: 1.1vw;
}
.booking-card-days-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}
.booking-card-status-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 3vw;
  width: 20%;
  padding: 2vw;
}
.booking-card-booked-status-label {
  background-color: #EDF7ED;
  color: #5CB660;
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 1vw;
  padding: .3vw 1vw;
}
.booking-card-cancel-status-label {
  background-color: #FDECEA;
  color: #F55448;
  font-size: 1.2vw;
  font-weight: 700;
  margin-top: 1vw;
  padding: .3vw 1vw;
}
.booking-card-price-label {
  color: $booking-card-price-label-color;
  font-weight: 700;
  font-size: 1.5vw;
  margin-right: 1vw;
  margin-bottom: -1vw;
}