@import '../../Shared/styles/colors';
.bd-paper {
  background-color: #eaeaea !important;
  width: 50vw;
  display: flex;
  height: 100% !important;
  flex-direction: column;
  margin: 0 auto;
}
.bd-paper-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: auto;
}
.bd-back-button{
  width: 20%;
  margin: 0 auto !important;
}
.bd-cancel-button {
  float: right;
  width: 20%;
  background-color: red !important;
  color: $white !important;
  margin: 0 auto !important;
}