.root {
  max-width: 100% !important;
  box-shadow: 5px !important;
  margin: 5rem;
}
.root:hover {
  width: 101% !important;
  height: 101% !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.card-content {
  height: 40% !important;
  width: 90%;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  overflow: hidden;
}
.text {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.media {
  min-height: 30% !important;
  max-height: 30% !important;
  height: 30% !important;
  overflow: hidden !important;
  img {
    min-height: 100% !important;
    max-height: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
  }
}

.title {
  text-align: left;
  font: normal normal 600 100% Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.venue-card-price {
  padding-left: 0.6vw;
  padding-top: 0.3rem;
  font: normal normal bold 1rem Montserrat !important;
  letter-spacing: 0;
  color: #d3600c;
  opacity: 1;
}

.card-item-price-section {
  display: flex;
  justify-content: space-between;
}

.card-item-wishlist-btn{
  color: red!important;
}
