.root {
  max-width: 100% !important;
  height: 100%;
  box-shadow: 5px !important;
}
.root:hover {
  width: 101% !important;
  height: 101% !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.card-content {
  height: 10vh !important;
}
.media {
  height: 30%!important;
}

.title {
  text-align: left;
  font: normal normal 600 100% Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.price {
  padding-left: .6vw;
  padding-top: .5vh;
  font: normal normal 800 .8rem Montserrat !important;
  letter-spacing: 0;
  color: #d3600c;
  opacity: 1;
}
