@import '../../Shared/styles/colors';

.facilityItem {
  background-color: #eaeaea;
  border-radius: 1rem;
  margin: 2% 2% 2% 6% !important;

  text-align: center;
  font: normal normal 600 12px/18px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.offerItem {
  background-color: #d3600c33;
  border-radius: 1rem;
  margin: 2% 2% 2% 6% !important;

  text-align: center;
  font: normal normal 600 12px/18px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.mainOffer {
  text-align: center;
  font: normal normal bold 16px/20px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
}
.facilitiesLabel {
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  font: normal normal bold 1.3rem Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.contact-details-label {
  margin-left: 5%;
  margin-top: 3%;
  text-align: left;
  font: normal normal bold 1.3rem Montserrat !important;
  letter-spacing: 0;
  color:$black;
  opacity: 1;
}

.venue-address {
  margin-left: 0 !important;
  margin-top: 10% !important;
  text-align: left;
  font: normal normal normal 1rem Montserrat !important;
  letter-spacing: 1px;
  color: $black;
  opacity: 1;
}
.ratingBox {
  margin-left: 3% !important;
  margin-top: -5%;
}
.ratingContainer {
  display: flex;
  margin-left: 7%;
}

#ratingValue {
  // background-color: blueviolet;
  text-align: left;
  margin-bottom: -2% !important;
  font: normal normal 600 14px/18px Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
