$header-background-color: #fff;
$header-logo-color: #7A818E;
$header-side-nave-button-color : #000;
$banner-button-background-color:  #53B8BB;
$booking-card-price-label-color:#53B8BB;
$side-bar-active-color: #D3600C;
$black: #000;
$white: #fff;

// $theme-primary:#53B8BB;
$theme-primary:#D3600C;
$theme-primary-dark-one:#055052;
$theme-primary-dark-two:#003638;
// $theme-secondary:#f3f2c9;
$theme-secondary:#ffba87;

// $background-color-primary:#e6feff;
$background-color-primary:#f4f4f4;
//#f4f4f4
//#D3600C