@import url("https://cdn.syncfusion.com/ej2/material.css");

.descriptionContainer {
  margin-top: 3%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: flex;
  justify-content: center;
}

.venueTitle {
  text-align: left;
  font: normal normal 700 150% Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 2%!important;
}

.descriptionText {
  text-align: left;
  font: normal normal normal 100% Montserrat !important;
  letter-spacing: 0px;
  color: #0b294e;
  opacity: 1;
}

.priceLabel {
  text-align: left;
  font: normal normal bold 100% Montserrat !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.description-price-container {
  background-color: #eaeaea;
  border-radius: 0.4rem;
  padding: 2% !important;
}
.description-section-price {
  text-align: right;
  font: normal normal bold 100% Montserrat !important;
  letter-spacing: 0px;
  color: #d3600c;
  opacity: 1;
}

.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-checkout-button {
  background-color: #d3600c !important;
  color: #ffffff !important;
  width: 60%;
  height: 100%;
}

.description-checkoutbutton-grid {
  display: flex;
  justify-content: center;
  margin-top: 5% !important;
}
