@import '../../Shared/styles/colors';

.app-header{
  background-color: $header-background-color !important;
  box-shadow: 0px 8px 16px #00000029 !important;
  height: 9vh;
}

.header-text {
  color: $header-logo-color;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 1vh;
  text-decoration: none;
}

.logo {
  margin: 0 .5vw 2vh 3vw;
  height: 7vh;
}

.header-logo-section {
  float: right;
}
.side-nav-button {
  color: $header-side-nave-button-color !important;
  font-weight: 500 !important;
  margin-bottom: 1vh !important;
}

.side-nav-login-button {
  margin-bottom: 1vh !important;
}

.toolbar-side-nav {
  float: right;
  padding-right: 3vh;
}

.user-icon {
  color: $header-side-nave-button-color;
  font-size: 2rem !important;
  margin-bottom: 1vh;
}

#activeRoute {
  font-weight: 900 !important;
  background-color: #eaeaea !important;
}