.order-summary-price {
  font-family: Montserrat;
  font-weight: 600;
}
.order-summary-total-price {
  font-family: Montserrat;
  font-weight: 700 !important;
  font-size: 200%;
  color: #D3600C;
}
.payment-details-box {
  font-family: Montserrat;
  background-color: #eaeaea;
  border-radius: 1rem;
  padding: 2%;
  margin: 4%!important;
}
.order-summary-labels {
  font-family: Montserrat;
  font-weight: 600;
}
.order-summary-list-item{
  font-family: Montserrat!important;
}
.osf-button {
  margin: auto;
  float: right;
}