
// .mainContainer {
//   width: 100%;
//   background-color: black;
// }
// .mainBox {
//   width: 100%;
// }

// .footerContainer {
//   background-color: black;
//   padding-left: 5%;
//   color: white;
//   width: 89vw;justify-content: center!important;
  
// }

.footer-main-grid-container{
  background-color: black!important;
  color: white;
  height: 30vh!important;
  padding: 2%!important;
  overflow: hidden;
}

.label {
  text-align: left;
  font: normal normal 700 70% Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 2%!important;
}

.aboutText {
  text-align: left;
  font: normal normal normal 60% Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.contentText {
  text-align: left;
  font: normal normal normal 60% Montserrat !important;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.avatarGridItem {
  padding: 10%;
}
.socalIconAvatar {
  background-color: black !important;
  width: 2%;
}

#blueLink {
  color: #1b91e8;
}

#followLabel {
  margin-left: 5%;
}


