.mainContainer {
  width: 100%;
  background-color: black;
}
.mainBox {
  width: 100%;
}

.footerContainer {
  background-color: black;
  padding-left: 5%;
  color: white;
  width: 89vw;
}

.label {
  text-align: left;
  font: normal normal 700 70% Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.aboutText {
  text-align: left;
  font: normal normal normal 60% Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.contentText {
  text-align: left;
  font: normal normal normal 60% Montserrat !important;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.avatarGridItem {
  padding: 10%;
}
.socalIconAvatar {
  background-color: black !important;
  width: 2%;
}

#blueLink {
  color: #1b91e8;
}

#followLabel {
  margin-left: 5%;
}


