.addvenue-images-paper {
  width: 60vw !important;
  padding: 8%;
}
.addvenue-upload-image-section {
}

.submit-images-venue-btn {
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  background-color: #d3600c !important;
  color: #ffffff !important;
}
