@import '../../Shared/styles/colors';

.added-venue-card-base {
  display: flex;
  flex-direction: row;
  width: 95% !important;
  height: 8vw;
  min-width: 90% !important;
  min-height: 20% !important;
  background-color: $white;
  margin: 1vw 2vw;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 8px #00000029;
  &:hover {
    box-shadow: 0px 4px 16px#00000029;
  }
}
.added-venue-card-image-container{
  width: 20%;
  height: 90%;
  margin: .5vw;
  background-color: #eaeaea;
  img {
    width: 100%;
    height: 100%;
  }
}

.added-venue-card-info-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: flex-start;
}

.addded-venue-card-venue-title {
  padding: .8vw 1vw;
  font-size: 1.3vw;
  font-weight: 700;
}

.added-venue-card-venue-address {
  padding: .5vw 1vw;
  font-size: 1.1vw;
}

.addded-venue-card-venue-description {
  padding: .5vw 1vw;
  font-size: 1vw;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
}

.added-venue-edit-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.added-venue-edit-button {
  background-color: #FFF4E5 !important;
  color: $theme-primary !important;
  min-width: 2.5vw !important;
  width: 2.5vw !important;
}
.avc-delete-button {
  background-color:#FDECEA !important;
  color: #F55448 !important;
  min-width: 2.5vw !important;
  width: 2.5vw !important;
  margin: .5vw !important;
}
.avc-skeleton-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1vw;
  div {
    display: flex;
    flex-direction: column;
    margin: 1vw;
  }
  span {
    margin: .2vw;
  }
}