@import '../../Shared/styles/colors';
.root {
  margin: 0;
  padding: 0;
}

.checkout-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 11vh;
  width: 100%;
  height: 100%;
}
.venue-details-card{
  margin-left: 2rem ;
}
footer {
  margin-top: 5%;
}

