@import '../../Shared/styles/colors';
.root {
  height: 100%;
  width: 100%;
}
.dashboard-footer {
  margin-top: 3%;
}
.heading {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15vh !important;
}

.main {
  position: sticky;
  display: grid;
  grid-template-columns: 20% 80%;
  height: 90vh !important;
  margin-top: 10vh;
  overflow-y: hidden;
  overflow-x: hidden;
  top:-1px;
}

.side-nav {
  position: sticky !important;
  height: 90vh !important;
  border: 1px solid #707070;
  background-color: #001509;
  color: $white;
  overflow: visible;
}

#active {
  background-color: $side-bar-active-color;
  color: $white;
}
.main-content {
  display: flex;
  align-items: flex-start;
  height: 90vh;
  justify-content: center;
  border: 1px solid #707070;
  box-shadow: 0px 8px 16px #00000029;
  overflow: auto;
}