.whole-error-page{
    height: 100vh;
    width: 100vw;
    background: #f5f5f5;
    padding: 2%;
}
.error-img{
    margin-top: 5%;
}

#error-oops{
    font-size: 20vh;
    font-family: Montserrat;
    font-weight: 600;
    color: #5a5b5d;
}

.error-page-msg{
    font-size: 5vh;
    font-family: Montserrat;
    font-weight: 500;
    color: #5a5b5d;
}