.services-page-haeding{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 6vh;
    font-weight: 700;
}

.service-section-right{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.service-section-left{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

.service-description{
    width: 60%!important;
}

.service-page-service-name{
    margin-bottom: 4%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 5vh;
}

.service-item-desc{
    font-family: Montserrat;
    font-size: 3vh;
}