@import '../../Shared/styles/colors';
.root {
  margin: 0;
  padding: 0;
}
.recommendedVenues {
  background-color: $background-color-primary;
  margin-top: 3%;
} 
.recommended-venue-box {
  padding: 1rem 4rem 0 4rem;
}
.recommendedTitle {
  display: flex;
  justify-content: center;
  font: normal normal 700 1.2rem Montserrat !important;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  padding-top: 3%;
}
.exploreButton {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0
}

.card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.recommendedVenues:hover > .card:not(:hover) {
  filter: blur(4px);
}

.banner {
  width: 100%;
  height: 100vh;
  background: transparent url('../../assets/images/banner2.png') no-repeat bottom center;
  background-size:cover;
  overflow:hidden;
  opacity: 1;
}
.banner-background {
  position: relative;
  top: 0%;
  background-color: rgba(0, 0, 0, .3) !important;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  z-index: 1;
}

.banner-heading {
  position: relative;
  color: $white !important;
  width: 100%;
  top: 35%;
  left: 32%;  
}
.home-search-heading {
  font-size: 2.5vw !important;
  font-variant: bolder;
  font-weight: 900;
}
.banner-subheading {
  position: relative;
  color: $white !important;
  font-size: .8rem !important;
  width: 40%;
  top: 36%;
  left: 35%;  
}
.banner-button-container {
  position: relative;
  top: 40%;
  left: 43%;
  margin: 0 auto;

}
.banner-host-button {
  background: $theme-primary 0% 0% no-repeat padding-box !important;
  color: $white !important;
  font-size: .7rem !important;
  padding: .5rem 1rem .5rem 1rem !important;
  z-index: 2;
}

.home-search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column-gap: 2%;
  margin: 2rem 5.5rem;
  top: 37%;
}
.home-textfield {
  background-color: $white;
  border-radius: .5vw;
  width: 75%;
}
.home-search-button {
  width: 100% !important;
  color: #fff !important;
}
.home-footer {
  margin-top: 0;
}
.hp-event-type-filter-heading {
  padding: 1vw;
  font-weight: 700 !important;
}
.hp-event-type-filter-container {
  width: 95% !important;
  margin: 1vw 0 4vw 0;
}
.hp-event-type-icon {
  border-radius: 1.5vw;
  &:hover {
    box-shadow: #eaeaea .5vw .5vw .5vw .5vw;
  }
}
.search-img {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.home-explore-more-button {
  text-align: center;
  float: right;
  color: #000000 !important;
  font: normal normal bold 1.2vw Montserrat !important;
  letter-spacing: 0px;
  opacity: 1;
  padding: .5vw !important;
  margin-top: -1vw !important;
  min-width: 27% !important;
}
.hp-max-height {
  height: 100% !important;
}


.hp-host-banner-image-div {
  background: transparent url('../../assets/images/hostBanner.png') no-repeat bottom center;
  background-size: cover;
  height: 30vw !important;
  width: 95% !important;
  margin: 1vw auto;
  border-radius: 2vw;
}
.hp-host-banner-dark-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100% !important;
  height: 100% !important;
  padding: 7vw;
  gap: 1vw;
  color: white;
  border-radius: 2vw;
  background-color: rgba(0, 0, 0, .8);
  background-size: cover !important;
}

.hp-dark-overlay {
  
  border-radius: 2vw;
  width: 100% !important;
  height: 100% !important;
}

.hp-become-host-button {
  background-color: white !important;
  color: #000000 !important;
  height: 15%;
}

.mobile-home-search-button {
  display: none;
}
.home-search-button-container {
  display: block;
  width: 16%;
  color: #fff !important;
}

// mobile queries
@media only screen and (max-width: 600px) {
  .root {
  margin: 0;
  padding: 0;
  height: 100% !important;
  box-sizing: border-box;
  overflow-x:hidden;
}
.recommended-venue-box {
  padding: 0;
  overflow-x: hidden;
}
.recommendedTitle {
  display: flex;
  justify-content: center;
  font: normal normal 700 1.2rem Montserrat !important;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  padding-top: 3%;
  overflow-x: hidden;
}
.exploreButton {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0;
  overflow-x: hidden;
}

.card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
}

.recommendedVenues:hover > .card:not(:hover) {
  filter: blur(4px);
  overflow-x: hidden;
}

.banner {
  width: 100%;
  height: 100vh;
  background: transparent url('../../assets/images/banner2.png') no-repeat bottom center;
  background-size:cover;
  overflow:hidden;
  overflow-x: hidden;
  opacity: 1;
}
.banner-background {
  position: relative;
  top: 0%;
  background-color: rgba(0, 0, 0, .3) !important;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  z-index: 1;
  overflow-x: hidden;
  overflow:hidden;
}

.banner-heading {
  position: relative;
  color: $white !important;
  width: 100%;
  top: 35%;
  overflow:hidden;
  overflow-x: hidden;
  left: 2%;  
}
.home-search-heading {
  font-size: 8vw !important;
  font-variant: bolder;
  overflow:hidden;
  overflow-x: hidden;
  font-weight: 900;
}
.banner-subheading {
  position: relative;
  color: $white !important;
  font-size: .8rem !important;
  width: 80%;
  overflow:hidden;
  top: 36%;
  overflow-x: hidden;
  left: 10%;  
}
.banner-button-container {
  position: relative;
  top: 40%;
  left: 1%;
  overflow:hidden;
  overflow-x: hidden;
  margin: 0 auto;

}
.banner-host-button {
  background: $theme-primary 0% 0% no-repeat padding-box !important;
  color: $white !important;
  font-size: .7rem !important;
  padding: .5rem 1rem .5rem 1rem !important;
  overflow-x: hidden;
  z-index: 2;
}

.home-search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column-gap: 1%;
  margin: 0;
  overflow:hidden;
  top: 40%;
}
.home-textfield {
  background-color: $white;
  border-radius: .5vw;
  overflow-x: hidden;
  width: 70%;
}
.home-search-button {
  display: none;
  width: 30% !important;
  height: 10vw !important;
  margin-right: 2% !important;
  color: #fff !important;
  overflow-x: hidden;
  overflow: hidden;
}
.mobile-home-search-button {
  display: block;
}
.hp-event-type-filter-heading {
  padding: 1vw;
  font-weight: 700 !important;
  overflow-x: hidden;
}
.hp-event-type-filter-container {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  gap: 5vw;
  margin: 1vw 0 6vw 0 !important;
}
.hp-event-type-icon {
  border-radius: 1.5vw;
  overflow-x: hidden;
  cursor: pointer!important;
  &:hover {
    cursor: pointer;
    box-shadow: #eaeaea .5vw .5vw .5vw .5vw;
    overflow-x: hidden;
  }
}
.search-img {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.home-explore-more-button {
  text-align: center;
  float: right;
  color: #000000 !important;
  font: normal normal bold 4vw Montserrat !important;
  letter-spacing: 0px;
  opacity: 1;
  padding: 1vw 3vw 1vw 1vw !important;
  margin-top: -1vw !important;
  overflow-x: hidden;
  min-width: 27% !important;
}
.home-footer {
  overflow-x: hidden;
  overflow-y: visible;
  height: 100vh !important;
}
.hp-host-banner-image-div {
  background: transparent url('../../assets/images/banner2.png') no-repeat bottom center;
  background-size: cover;
  height: 100vw !important;
  width: 100% !important;
  margin: 4vw auto;
  border-radius: 2vw;
}
.hp-host-banner-dark-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100% !important;
  height: 100% !important;
  padding: 7vw;
  gap: 4vw;
  color: white;
  border-radius: 2vw;
  background-color: rgba(0, 0, 0, .4);
  background-size: cover !important;
}

.hp-dark-overlay {
  border-radius: 2vw;
  width: 100% !important;
  height: 100% !important;
}

.home-search-button-container {
  display: none;
}

}