@import "../../Shared/styles/colors";
.login-root-grid {
  background-color: #fff;
}
.login-img-background {
  position: relative;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.3) !important;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.login-side-image {
  width: 100%;
  height: 100vh;
}

.gridStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paperStyle {
  // padding: 30px 20px;
  padding: 2% 1.5%;
  width: 60% !important;
  margin: 20px auto;
}
.headerStyle {
  margin: 0;
}
.login-form {
  margin-top: 4%;
}
.avatarStyle {
  background-color: $theme-primary !important;
}

.textFieldStyle {
  margin-bottom: 5%;
}
.btnStyle {
  margin-top: 2% !important;
}
.errorMsg {
  color: red;
}
.navLink {
  text-decoration: none;
}
.register-button {
  margin-bottom: 2% !important;
  margin-top: 2% !important;
}
.login-text-links {
  margin-top: 2% !important;
}

.login-img-text {
  position: absolute;
  color: white;
  top: 10%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-weight: 800;
  font-size: large;
  line-height: 180%;
}

.login-btn-Style{
  margin-top: 3%!important;
}

@media  (max-width:600px){

  .login-side-img-section{
    display: none;
  }

  .login-root-grid{
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width:1000px){
  .login-side-img-section{
    display: none;
  }
}

