@import "../../Shared/styles/colors";
.gridStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg-client-steps-container {
  position: fixed;
  width: 50% !important;
}
.reg-side-image {
  width: 100%;
  height: 100%;
}
.reg-page-grid-container {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.paperStyle {
  padding: 2% 1.5%;
  width: 70% !important;
  margin: 20px auto;
  padding-left: 5%;
  padding-right: 5%!important;
}
.headerStyle {
  margin: 0;
}
.avatarStyle {
  background-color: $theme-primary !important;
}
.register-form {
  margin-top: 4%;
}

.textFieldStyle {
  margin-bottom: 5% !important;
}
.btnStyle {
  margin-top: 2% !important;
}
.errorMsg {
  color: red;
}
.navLink {
  text-decoration: none;
}

.register-text-links {
  margin-top: 3% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-login-btn {
  color: $theme-primary !important ;
  background-color: $theme-primary;
  border: 1px solid $theme-primary !important;
  margin: 1% !important;
}

@media (max-width: 600px) {
  .reg-page-conatiner {
    display: flex;
    flex-direction: column-reverse;
  }
  .reg-client-steps-container{
    display: none;
    position: relative;
    width: 100%!important;
  }
}

@media (max-width: 1000px) {
  .reg-page-conatiner {
    display: flex;
    flex-direction: column-reverse;
  }
  .reg-client-steps-container{
    display: none;
    position: relative;
    width: 100%!important;
  }
}
