@import '../../Shared/styles/colors';

.all-venues {
  width: 100% !important;
  margin-top: 1%;
  height: 100% !important;
  overflow:visible;
}
.venue-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.venue-grid  {
  background-color: #eaeaea;
  margin: 0 !important;
  padding: 0 !important;
}
.card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.all-venues:hover > .card:not(:hover) {
  filter: blur(10rem);
}


.venue-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin-top: 2vw;
  width: 100%;
}
.venue-select {
  width: 13vw !important;
}
.venue-label {
  width: 10vw !important;
}

.no-result-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no-search-text{
  font-family: Montserrat;
  font-weight: 600;
}

.venue-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2%;
  width: 80%;
  input {
    background-color: $white;
    border: 1px solid #707070;
    border-radius: .25rem;
    opacity: 1;
    width: 100%;
  }
}
.venue-search-division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 12vw;
  gap:5%;
  width: 100%;
  margin-top: 4.5vw;
  background: transparent url('../../assets/images/venueListPageBackground.png') 0% 0% no-repeat padding-box;
  background-position: bottom;
  background-size: cover;
}
.venue-search-heading {
  font-weight: 700 !important;
}
.venue-search-subheading {
  font-weight: 100 !important;
}
.filter-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2.5vw;
  margin-bottom: -2.2vw;
  justify-content: flex-end;
  align-items: flex-end;
  button {
    background-color: $white !important;
    border-radius: 0 !important;
    margin-right: 2vw;
  }
}
.dark-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4) !important;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.venue-search-text-area {
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.textfield {
  width: 75%;
}
.search-button {
  width: 16% !important;
}
.venue-footer {
  margin-top: 5%;
}
.vlp-date-picker {
  width: 13vw !important;
}



@media only screen and (max-width: 600px) {
.venue-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 2%;
  width: 80%;
  input {
    background-color: $white;
    border: 1px solid #707070;
    border-radius: .25rem;
    opacity: 1;
    width: 100%;
  }
}
.venue-search-division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  height: 40vw;
  gap:5%;
  width: 100%;
  margin-top: 4.5vw;
  background: transparent url('../../assets/images/venueListPageBackground.png') 0% 0% no-repeat padding-box;
  background-position: bottom;
  background-size: cover;
}
.filter-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 8vw;
  margin-bottom: -10vw;
  justify-content: flex-end;
  align-items: flex-end;
  button {
    background-color: $white !important;
    border-radius: 0 !important;
    margin-right: 2vw;
  }
}
.search-button {
  width: 30% !important;
}


}