@import '../../Shared/styles/colors';

.all-venues {
  width: 100%;
  margin-top: 5%;
  height: 50vw;
  overflow: auto;
}
.venue-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.venue-grid  {
  background-color: #eaeaea;
}
.card:hover {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

.all-venues:hover > .card:not(:hover) {
  filter: blur(10rem);
}


.venue-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin-top: 2vw;
  width: 100%;
}
.venue-select {
  width: 13vw !important;
}
.venue-label {
  width: 10vw !important;
}

.venue-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-column-gap: 2%;
  margin: 6vw 5rem 0 5rem;
  overflow-x: hidden;
}
.textfield {
  width: 75%;
}
.search-button {
  width: 16% !important;
}
.venue-footer {
  margin-top: 5%;
}
.venue-load-more-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
  padding: 2vw;
}