
.carouselContainer {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.vdp-recommended-venues {
  display: flex;
  flex-direction: column;
  height: 37vw;
  width: 100% !important;
  background-color: #eaeaea;
}
.vdp-recommended-title {
  font: normal normal 700 1.5vw Montserrat !important;
  letter-spacing: 0;
  opacity: 1;
  padding-top: 1%;
}
.vdp-description-section {
  display: flex;
  flex-direction: row;
}
.vdp-description {
  flex-grow: 1;
  margin-left: 1vw;
  width: 65%;
}
.vdp-price {
  flex-grow: 1;
  width: 35%;
  position: sticky !important;
  position: -webkit-sticky !important;
  margin: 2vw 3vw 0 0;
  padding: 1vw 1vw 0 0;
  top: -1px;
}